<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="product_item.imageUrl" alt="image">

  <div class="card-body">
    <p class="cardtext"><strong>{{product_item.price| currency:"INR"}}</strong></p>
    <p class="card-text">{{product_item.description | slice: 0:50}}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button (click)="handlerAddToCart()" type="button" class="btn redButton btn-sm btn-primary product_button">Add to Cart</button>
        <button type="button" class="btn blueButton Button btn-sm btn-outline-secondary product_button">View Details</button>
      </div>

    </div>
  </div>
  </div>
