.cart-item{
font-size: small;
margin-bottom: 20px;
}


.filters{
  font-size: small;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  }
  .filters_body{
    font-size: small;
    color: #ffffff;
    text-align: left;
    text-transform: capitalize;

    }

  .card.customBorder, .btn.customBorder, .form-control.customBorder{
    border-radius:0px !important;
}

.cardColour{
  background-color:rgb(47, 0, 255);
  color: #FFFFFF;
}



/* .btn-primary {
  color: #fff;
  background-color:#FF0000 !important;
  border-color:#FF0000 !important;

} */

.btn-primary:hover {

  background-color: #dba800 !important;
  border-color: #8e8428 !important; /*set the color you want here*/
}
.btn_textUpper{
  text-transform: uppercase;
}

.list-group-item:first-child {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.card-header {

  background-color: rgba(245, 14, 6, 0.87) !important;
  border-bottom: 1px solid rgb(245, 8, 8) !important ;
}

.product_button{
  font-size: small;
}

.redButton{
  color:#fff !important;
  background-color:#FF0000 !important;
  border-color:#FF0000 !important;
}

.blueButton{
  color: #fff !important;
  background-color:#0c1bec !important ;
  border-color:#1c04f1 !important;
}

.fixedLeft{
  position: sticky;

  top:0;
  z-index: 999;
  /* position: absolute;

    left: 50%;
    margin-top: -30px;
    margin-left: -50px; */


}
.fixedRight{
  position: sticky;
  top:0;
  z-index: 999;

}

.fas.fa-heart{
  color: #FF0000;
  cursor: pointer;
}
.far.fa-heart{
  color: #FF0000;
  cursor: pointer;
}
/* ///https://stackoverflow.com/questions/50138101/external-stylesheet-not-overriding-bootstrap */


.btn.disabled, .btn:disabled {
  opacity: 0.00;
  cursor: not-allowed;
}
